<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>O nama</title>
        <link rel="stylesheet" href="..\style\news.css">
        <link rel="icon" type="image/x-icon" href="..\img\Algebra-logo.png">
    </head>
    <body>
        <div id="header">
            <ol id="navbar">
                <li><img src="..\img\Algebra-logo.png" alt="A-logo"></li>
                <li><a href="Pocetna.html"><i class="fa fa-fw fa-home"></i>Početna</a></li>
                <li><a href="O_nama.html"><i class="fa fa-comments-o"></i>O nama</a></li>
                <li><a href="novosti.html"><i class="fa fa-info-circle"></i>Novosti</a></li>
                <li><a href="nastavni_plan.html"><i class="fa fa-info-circle"></i>Nastavni plan</a></li>
                <li><a href="novosti.html#popup1"><i class="fa fa-envelope"></i>Kontakt</a></li>
            </ol>
            
        </div>
        
        </div>
        <div id="main">
            <div id="img">
                <img src="..\img\novost3.jpg" alt="novost1.jpg">
            </div>
            <h1>Digitalno Junior ljeto</h1>
            <div id="article">
                <p> Algebra Junior organizira edukativne i zabavne ljetne
                    praznike za sve osnovnoškolce! I ove smo godine
                    pripremili digitalne radionice za djecu čiji je fokus
                    rješavanja raznih problema korištenjem tehnologije,
                    multimedije, digitalnog dizajna i komunikacija te
                    stvaranju sadržaja u svim multimedijskim i softverskim
                    oblicima. Radionice se održavaju u sklopu Digitalnog
                    ljetnog kampa u Crikvenici i Digitalne ljetne škole u
                    Zagrebu kako bismo se družili, zabavljali i učili i na
                    moru i na kontinentu! Na digitalnom kampu i u školi
                    provodit će se dva različita programa koji su
                    namijenjena djeci od 1. do 8. razreda. Ovisno o
                    odabranom terminu, polaznici će prolaziti kroz 1. ili 2.
                    program, a u slučaju pohađanja dvotjednih programa –
                    oba. U prvom programu nađe nindže uče biti glazbeni
                    menadžeri dok su u drugom novinari i kreatori
                    informacija masovnih medija. Provjerite termine, cijene
                    i lokacije škole i kampa na sljedećem linku.</p>
                </div>
        </div>
        <div id="popup1" class="overlay">
            <div class="popup">
                <form action="http://www.fulek.com/VUA/SUPIT/ContactUs">
                    <h2><i class="fa fa-envelope"></i>Kontaktirajte nas</h2>
    
                    <label for="fname">Puno ime:</label>
                    <input type="text" id="fname" name="name" class="text">
                
                    <label for="email">Email:</label>
                    <input type="mail" id="email" name="email" class="text">
                    
                    <label for="vaznost">Važnost poruke:</label>
                    <select id="vaznost" name="importance" class="text">
                      <option value="visoka">Visoka</option>
                      <option value="niska">Niska</option>
                    </select>
                    <label for="poruka">Vaša poruka:</label>
                    <textarea id="poruka" name="message" rows="4" cols="50" required="required"></textarea>
                    <div id="newsl">
                        <label for="newsletter">Primaj newsletter:</label>
                        <input type="checkbox" id="newsletter" name="newsletter" value="da">
                    </div>
                    <div id="buttons">
                        <input type="submit" value="Pošalji">
                        <a class="close" href="#">&times;</a>
                    </div>
                </form>
                </div>
            </div>
        </div>
            <div id="footer">
                <h1>Budi izvrstan u onome što voliš</h1>
                <h1>ZAISKRI</h1>
            </div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="..\style\\navbar.css">
            <script src="../functionalities/lightbox.js"></script>
            <link rel="stylesheet" href="..\style\kontakt.css">

            
        </body>
</html>